In [4]:
import numpy as np
import pandas as pd

In [5]:
df_saida = pd.read_csv('ETE Umbilo - Dados de saída medidos.txt', sep='\t')

df_saida.columns = df_saida.iloc[1]
df_saida = df_saida.iloc[4:,:]
# df_saida.index = df_saida['t']
# df_saida = df_saida.drop('t', axis=1)

df_saida = df_saida.astype(float)
df_saida.isna().sum()  # dia 307 missing Nitrate

df_saida

1        t   COD  Nitrate  Ammonium
4      0.0  33.0     10.8       0.6
5      1.0  35.0     12.0       0.5
6      2.0  37.0     14.0       0.5
7      3.0  39.0     14.0       0.5
8      4.0  41.0     14.0       0.5
..     ...   ...      ...       ...
364  360.0  36.0     12.6       2.1
365  361.0  36.0     12.8       1.7
366  362.0  37.0     13.0       1.4
367  363.0  37.0     25.0       0.5
368  364.0  37.0     20.0       0.9

[365 rows x 4 columns]

In [6]:
df_entrada = pd.read_excel('ETE Umbilo - Dados de entrada - escala diária.xlsx')

df_real = pd.merge(left=df_entrada,right=df_saida, right_on='t',left_on='.t')
df_real.isna().sum()

df_real = df_real.drop('t',axis=1)

df_real

,.t,.Influent.y_Q,.Influent.y_NH,.Influent.y_TSS,.Influent.y_COD,.Influent.y_BOD,.Influent.y_TN,.Influent.y_TKN,.Influent.y_TP,.Influent.y_PO,COD,Nitrate,Ammonium
0,0,4719.000000,21.000000,271.000000,391.000000,198.575000,34.060000,34.060000,8.020000,4.6,33.0,10.8,0.6
1,1,5866.458829,22.000327,276.000327,399.999347,203.059809,35.360294,35.360294,8.099990,4.6,35.0,12.0,0.5
2,2,5358.157069,23.998870,281.996233,406.995103,206.957307,37.558734,37.558734,8.149966,4.6,37.0,14.0,0.5
3,3,5266.313109,22.999791,278.000209,401.000418,203.710285,36.399787,36.399787,8.109998,4.6,39.0,14.0,0.5
4,4,6671.931586,21.000432,274.999568,396.999136,201.824410,34.220441,34.220441,8.060004,4.6,41.0,14.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,360,5120.341705,20.998558,184.998558,266.997116,135.395000,29.898501,29.898501,6.929986,4.6,36.0,12.6,2.1
361,361,5587.915779,22.000000,182.001170,263.000000,134.093479,30.780012,30.780012,6.900000,4.6,36.0,12.8,1.7
362,362,5984.690649,22.998229,179.999646,259.000354,131.495253,31.668215,31.668215,6.869996,4.6,37.0,13.0,1.4
363,363,8328.225128,19.001002,177.000334,255.999332,129.609978,27.521002,27.521002,6.830000,4.6,37.0,25.0,0.5
364,364,5364.000000,18.000000,175.000000,251.000000,127.660000,26.370000,26.370000,6.790000,4.6,37.0,20.0,0.9

In [7]:
df_real.columns = ['Dia', 'Q_entrada','NH_entrada','TSS_entrada','DQO_entrada','DBO_entrada',
                         'TN_entrada','TKN_entrada','TP_entrada','PO_entrada',
                         'DQO_saida','Nitrato_saida','Amonia_saida']

df_real = df_real.drop(['PO_entrada','TKN_entrada'], axis=1)
df_real.set_index('Dia',inplace=True)

df_real.to_csv('Real_Umbilo.csv',sep=';',decimal=',',encoding='utf-8-sig')

df_real

,Q_entrada,NH_entrada,TSS_entrada,DQO_entrada,DBO_entrada,TN_entrada,TP_entrada,DQO_saida,Nitrato_saida,Amonia_saida
Dia,,,,,,,,,,
0,4719.000000,21.000000,271.000000,391.000000,198.575000,34.060000,8.020000,33.0,10.8,0.6
1,5866.458829,22.000327,276.000327,399.999347,203.059809,35.360294,8.099990,35.0,12.0,0.5
2,5358.157069,23.998870,281.996233,406.995103,206.957307,37.558734,8.149966,37.0,14.0,0.5
3,5266.313109,22.999791,278.000209,401.000418,203.710285,36.399787,8.109998,39.0,14.0,0.5
4,6671.931586,21.000432,274.999568,396.999136,201.824410,34.220441,8.060004,41.0,14.0,0.5
...,...,...,...,...,...,...,...,...,...,...
360,5120.341705,20.998558,184.998558,266.997116,135.395000,29.898501,6.929986,36.0,12.6,2.1
361,5587.915779,22.000000,182.001170,263.000000,134.093479,30.780012,6.900000,36.0,12.8,1.7
362,5984.690649,22.998229,179.999646,259.000354,131.495253,31.668215,6.869996,37.0,13.0,1.4
363,8328.225128,19.001002,177.000334,255.999332,129.609978,27.521002,6.830000,37.0,25.0,0.5
364,5364.000000,18.000000,175.000000,251.000000,127.660000,26.370000,6.790000,37.0,20.0,0.9